Adafruit-GPIO==1.0.3
Adafruit-MCP3008==1.0.2
Adafruit-PureIO==0.2.1
click==6.7
Flask==0.12.2
Flask-JWT==0.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
PyJWT==1.4.2
RPi.GPIO==0.6.3
spidev==3.2
Werkzeug==0.14.1
